<a href="https://colab.research.google.com/github/pavi-1994/Python_Q-A/blob/main/Python_interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Q1.Find the common letters of strings**.

In [ ]:
string1=input()
string2= input()

pavithra
charan

## **Ist solution**

In [ ]:
def find_common_letter(string1,string2):

  lst_string1=list(set(list(string1)))
  lst_string2=list(set(list(string2)))
  common_letter_list=[]
  for i in lst_string1:
    if i in lst_string2:
      common_letter_list.append(i)
  print(common_letter_list)

In [ ]:
find_common_letter(string1,string2)

['a', 'r', 'h']

## **IInd solution**

In [ ]:
def find_common_letter_1(string1,string2):
  lst_string1=set(list(string1))
  lst_string2=set(list(string2))
  common_letter_list= lst_string1 & lst_string2
  print(common_letter_list)

In [ ]:
find_common_letter_1(string1,string2)

{'r', 'a', 'h'}

# Q:2

## find the frequency of words in string

In [ ]:
string1=input()

I love python. it is easy to learn and easy to write

In [ ]:
def count_frequency(string1):
  lst_string1 = string1.split(" ")
  freq_dict = {}
  for i in lst_string1:
    if i not in freq_dict:
      freq_dict[i] = 1
    else:
      freq_dict[i] +=1
  return  freq_dict

In [ ]:
print(count_frequency(string1))

{'I': 1, 'love': 1, 'python.': 1, 'it': 1, 'is': 1, 'easy': 2, 'to': 2, 'learn': 1, 'and': 1, 'write': 1}

In [ ]:
def count_frequency_1(string1):
  lst_string1=string1.split(" ")
  lst_string = set(lst_string1)
  freq_dict={}
  for i in lst_string:
    freq_dict[i]=lst_string1.count(i)
  print(freq_dict)

In [ ]:
count_frequency_1(string1)

{'I': 1, 'is': 1, 'it': 1, 'and': 1, 'easy': 2, 'love': 1, 'python.': 1, 'write': 1, 'learn': 1, 'to': 2}

## Q3: **Convert list to dictionary**

## method 1:

In [ ]:
def convert_list_dict1(list1, list2):
    dict1 = {}

    if len(list1) == len(list2):
        dict1 = dict(zip(list1, list2))
    else:
        print("Two lists do not have an equal number of elements, so we cannot create a dictionary.")

    return dict1

In [ ]:
list1 = input().split(" ")
list2 = input().split(" ")

1 2 3 4
one two three four

In [ ]:
print(convert_list_dict1(list1,list2))

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

## method 2:

In [ ]:
def convert_list_dict2(list1,list2):
  dict1 = {}
  if len(list1)== len(list2):
     for i in range(0,len(list1)):
      dict1[list1[i]]= list2[i]

  else:
     print("Two lists do not have an equal number of elements, so we cannot create a dictionary.")

  return dict1

In [ ]:
convert_list_dict2(list1,list2)

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

## Q4: **Convert dictionary to tuple**

In [ ]:
def dict_to_tuple(dict1):

  return dict1.items()

In [ ]:
dict1= dict({'a': 1, 'b': 2, 'c': 3})

In [ ]:
print(tuple(dict_to_tuple(dict1)))

(('a', 1), ('b', 2), ('c', 3))

## Q5: FIND MISSING NUMBER IN AN ARRAY IN PYTHON

In [ ]:
def missing_number_array(arr1):
  sum_arr= sum(arr1)
  max_arr= max(arr1)
  summation= max_arr*(max_arr+1)/2
  missing_value=summation-sum_arr
  return missing_value

In [ ]:
arr1=[1,2,3,4,6]

In [ ]:
missing_number_array(arr1)

5.0

# Q6:Python program to interchange first and last elements in a string
#method 1:

In [4]:
def interchange_letters(input_1):

     '''function takes list as input
       and returns interchanged  output'''

     return input_1[-1]+input_1[1:-1]+input_1[0]

In [5]:
x = interchange_letters(input())
print(x)

elements
slemente

In [6]:
#method2:
def interchange_letters(input_list):

     '''function takes list as input
     and returns interchanged new list'''

     input_list[0],input_list[-1]=input_list[-1],input_list[0]
     return input_list

In [9]:
x_ls=list(input().split())
print( interchange_letters(x_ls))

1 2 3 4 5 6
['6', '2', '3', '4', '5', '1']