<a href="https://colab.research.google.com/github/pavi-1994/Python_Q-A/blob/main/Python_interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Q1.Find the common letters of strings**.

In [ ]:
string1=input()
string2= input()

pavithra
charan

## **Ist solution**

In [ ]:
def find_common_letter(string1,string2):

  lst_string1=list(set(list(string1)))
  lst_string2=list(set(list(string2)))
  common_letter_list=[]
  for i in lst_string1:
    if i in lst_string2:
      common_letter_list.append(i)
  print(common_letter_list)

In [ ]:
find_common_letter(string1,string2)

['a', 'r', 'h']

## **IInd solution**

In [ ]:
def find_common_letter_1(string1,string2):
  lst_string1=set(list(string1))
  lst_string2=set(list(string2))
  common_letter_list= lst_string1 & lst_string2
  print(common_letter_list)

In [ ]:
find_common_letter_1(string1,string2)

{'r', 'a', 'h'}

# Q:2

## find the frequency of words in string

In [ ]:
string1=input()

I love python. it is easy to learn and easy to write

In [ ]:
def count_frequency(string1):
  lst_string1 = string1.split(" ")
  freq_dict = {}
  for i in lst_string1:
    if i not in freq_dict:
      freq_dict[i] = 1
    else:
      freq_dict[i] +=1
  return  freq_dict

In [ ]:
print(count_frequency(string1))

{'I': 1, 'love': 1, 'python.': 1, 'it': 1, 'is': 1, 'easy': 2, 'to': 2, 'learn': 1, 'and': 1, 'write': 1}

In [ ]:
def count_frequency_1(string1):
  lst_string1=string1.split(" ")
  lst_string = set(lst_string1)
  freq_dict={}
  for i in lst_string:
    freq_dict[i]=lst_string1.count(i)
  print(freq_dict)

In [ ]:
count_frequency_1(string1)

{'I': 1, 'is': 1, 'it': 1, 'and': 1, 'easy': 2, 'love': 1, 'python.': 1, 'write': 1, 'learn': 1, 'to': 2}

## Q3: **Convert list to dictionary**

## method 1:

In [ ]:
def convert_list_dict1(list1, list2):
    dict1 = {}

    if len(list1) == len(list2):
        dict1 = dict(zip(list1, list2))
    else:
        print("Two lists do not have an equal number of elements, so we cannot create a dictionary.")

    return dict1

In [ ]:
list1 = input().split(" ")
list2 = input().split(" ")

1 2 3 4
one two three four

In [ ]:
print(convert_list_dict1(list1,list2))

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

## method 2:

In [ ]:
def convert_list_dict2(list1,list2):
  dict1 = {}
  if len(list1)== len(list2):
     for i in range(0,len(list1)):
      dict1[list1[i]]= list2[i]

  else:
     print("Two lists do not have an equal number of elements, so we cannot create a dictionary.")

  return dict1

In [ ]:
convert_list_dict2(list1,list2)

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

## Q4: **Convert dictionary to tuple**

In [ ]:
def dict_to_tuple(dict1):

  return dict1.items()

In [ ]:
dict1= dict({'a': 1, 'b': 2, 'c': 3})

In [ ]:
print(tuple(dict_to_tuple(dict1)))

(('a', 1), ('b', 2), ('c', 3))

## Q5: FIND MISSING NUMBER IN AN ARRAY IN PYTHON

In [ ]:
def missing_number_array(arr1):
  sum_arr= sum(arr1)
  max_arr= max(arr1)
  summation= max_arr*(max_arr+1)/2
  missing_value=summation-sum_arr
  return missing_value

In [ ]:
arr1=[1,2,3,4,6]

In [ ]:
missing_number_array(arr1)

5.0

# Q6:Python program to interchange first and last elements in a string
#method 1:

In [ ]:
def interchange_letters(input_1):

     '''function takes list as input
       and returns interchanged  output'''

     return input_1[-1]+input_1[1:-1]+input_1[0]

In [ ]:
x = interchange_letters(input())
print(x)

elements
slemente

In [ ]:
#method2:
def interchange_letters(input_list):

     '''function takes list as input
     and returns interchanged new list'''

     input_list[0],input_list[-1]=input_list[-1],input_list[0]
     return input_list

In [ ]:
x_ls=list(input().split())
print( interchange_letters(x_ls))

1 2 3 4 5 6
['6', '2', '3', '4', '5', '1']

## Q7: find out the pairs with given sum of values of array

In [ ]:
arr=[5,7,4,3,9,8,19,21]
targeted_sum=17

In [ ]:
def sum_two_element_array(arr,targeted_sum):
  arr.sort()
  left=0
  right=len(arr)-1
  while (left<right):
    if (arr[left]+arr[right]> targeted_sum):
      right= right -1
    elif (arr[left]+arr[right]< targeted_sum):
      left = left +1
    elif  (arr[left]+arr[right]== targeted_sum):
       print("Values of pair are",arr[left],"&", arr[right])
       right=right-1
       left=left+1

In [ ]:
x=sum_two_element_array(arr,targeted_sum)
print(x)

Values of pair are 8 & 9
None

In [ ]:
def sum_two_element(arr, targeted_sum):

  for i in arr:
    x= (targeted_sum- i)
    if x in arr:
      print( i, x)
    else:
      continue

In [ ]:
final_answer=sum_two_element_array(arr,targeted_sum)
print(final_answer)

Values of pair are 8 & 9
None

## 8. find the length of the list
#method1:

In [ ]:
def find_Length_List(input_list):
     length_list = 0
     for i in input_list:
        length_list +=1
     return length_list

In [ ]:
input_list = list(input())
x=find_Length_List(input_list)
print(x)

Method 2

In [ ]:
#Method-2
def find_Length_List(input_list):
     return len(input_list)

In [ ]:
input_list = list(input())
x=find_Length_List(input_list)
print(x)

pcvtbfc
7

## 9. write a Python code to find the Maximum of these two numbers.

In [ ]:
def greatest_num_between_two_numbers(a,b):

     if a>=b:
        return a
     else:
         return b

In [ ]:

a=int(input())
b=int(input())
print((greatest_num_between_two_numbers(a,b)))

8
-1
8

In [ ]:
 # method 2:
 print(max(a,b))

8

In [ ]:
#method 3:
print(a if a>=b else b)

8

In [ ]:
#method 4:
print(sorted([a,b])[1])

8


# Q9. check if given item present in the list

In [ ]:

#method:1

def if_exist(given_input, check_element):
    if check_element in given_input:
        return True
    else:
        False

In [ ]:

given_input=list(input())
check_element= input()
x= if_exist(given_input,check_element)
if x==True:
    print("exist")
else:
    print("doesn't exist")

1
1
exist

Q10. Write a python program to find the transpose of an image without any inbuilt functions or packages.

In [ ]:
def transpose_image(input_image):
    rows_of_image = len(input_image)
    cols_of_image = len(input_image[0])

    for i in range(rows_of_image):
        for j in range(i, cols_of_image):
            input_image[i][j], input_image[j][i] = input_image[j][i], input_image[i][j]

    return input_image

In [ ]:
def print_image(image):
    for row in image:
        print(' '.join(map(str, row)))

In [ ]:
in_image=[[1,2],[4,5]]

In [ ]:
print_image(in_image)

1 2
4 5

Q11. 2. Write a program in Python to swap two numbers without using a third variable?

In [ ]:
def swap_two_numbers(a,b):
    a,b=b,a
    return a,b

In [ ]:
a=10
b=20

print(swap_two_numbers(a,b))

(20, 10)

Q12.  move zeros to the end of the list

In [ ]:
nums = [0,1,0,3,12]

num_output=[]
num_zero=[]
for i in nums:
    if i==0:
        num_zero.append(0)
    else:
        num_output.append(i)

num_output.extend(num_zero)

print(num_output)

[1, 3, 12, 0, 0]

2nd method

In [ ]:

for i in nums:
    if i==0:
        nums.remove(i)
        nums.append(0)

In [ ]:
print(nums)

[1, 3, 12, 0, 0]

Q13. Write a function that takes a list of numbers and returns the sum.

In [1]:
def sum_of_list(ls):
  return sum(ls)

In [2]:
ls=[1, 3, 12, 0, 0]
print(sum_of_list(ls))

16

2nd method

In [3]:
def sum_list_2(ls):
  sum_list=0
  for i in ls:
    sum_list+=i
  return sum_list

In [5]:
ls=[1, 3, 12, 0, 0]
print(sum_list_2(ls))

16

### q14.: How do you reverse a string in Python?

In [8]:
def reverse_string(str_input):
   return str_input[::-1]

In [9]:
str_input="pavithrak"
print(reverse_string(str_input))

karhtivap

#### method_2

In [10]:
def reverse_string_2(str_input):
    rev_str=""
    for i in str_input:
        rev_str = i+ rev_str
    return  rev_str

In [11]:
print(reverse_string_2(str_input))

karhtivap

## Q15 What is the difference between a tuple and a list?

**tuple and list both are ordered sequential datatype.**
difference:


tuple:
       
       1. imutable (you cannot change the elemnts of tuple)
       2. tuple written in ()
       3. you can use when there is data is need not to be changed
       4. faster than list
       5. takes less memory compared to list
list:

     1. is mutable (you can change or update the elements of list)
     2. list is written in []
     3. you can use when there is data is need to be changed
     4. slower than tuple
     5. take more memory comapred to tuple

SyntaxError: ignored